.flexRow--footer-row {
  justify-content: space-between;
  margin: 0 auto; 
  margin-bottom: 16px;
  max-width: 1000px;
  width: 100%;
}

.flexRowContent--header-container{
    background-color: #6f170c;
}